@*
    Update date			Description 
	--------------------------------
    20260112   Response     Initial
*@
@model MoodSettingResponseModel
@{
    ViewBag.Title = "Mood Setting";

    bool hasLanguage = !string.IsNullOrEmpty(Model.LanguageName);
    bool hasMood = !string.IsNullOrEmpty(Model.MoodType);
}

<h2>@ViewBag.Title</h2>

<hr />

<form id="moodForm"
      asp-action="Index"
      method="get">

    <input type="hidden"
           id="languageName"
           name="LanguageName"
		   value="@Model.LanguageName" />

    <input type="hidden"
		   name="MoodType"
           id="moodType"
           value="@Model.MoodType" />
    
    <div>
        <!--Language-->
        <label>Language</label>
        <select id="cbLanguage"
				name="LanguageName">
                <!--onchange="this.form.submit()"-->
            <option value="" selected=@(string.IsNullOrEmpty(Model.LanguageName) ? "selected" : null)>--Choose a language--</option>
            @foreach (var languageName in Model.LanguageList)
            {
                <option value=@languageName selected=@(languageName == Model.LanguageName ? "selected" : null)>@languageName</option>
            }
        </select>
        
        <!--Mood-->
        <label>Mood</label>
        <select id="cbMood"
                name="MoodType"
                <!--onchange="this.form.submit()"-->
                disabled="@(!hasLanguage)">
            <option value="" selected=@(string.IsNullOrEmpty(Model.MoodType) ? "selected" : null)>--Choose a mood--</option>
            @foreach (var moodType in Model.MoodList)
            {
                <option value=@moodType selected=@(moodType == Model.MoodType ? "selected" : null)>@moodType</option>
            }
        </select>

		<!--Buttons-->
        <button type="button"
                id="btnCreate"
                onclick="createMood()"
                disabled="@(!hasLanguage)">
            Create
        </button>
        <button type="button"
                id="btnModify"
                onclick="editMood()"
                disabled="@(!hasMood)">
            Update
        </button>
        <button type="submit"
                id="btnSave"
                disabled>
            Save
        </button>
    </div>
     
    <hr />

    @if (!string.IsNullOrEmpty(Model.LanguageName))
    {     
        <div class="settingBlock">
            <!--Tense-->
            <div class="tensePerson">
                <h4>Tense</h4>
                @for (int i = 0; i < Model.TenseList.Count; i++)
                {
                    <div>
                        <input type="hidden" 
                               name="TenseList[@i].Name"
                               value="@Model.TenseList[i].Name" />
                    
                        <input type="checkbox"
                               class="editable"
                               name="TenseList[@i].IsChecked"
                               value="true"
                               id="ckTense_@Model.TenseList[i].Name"
                               @(Model.TenseList[i].IsChecked ? "checked" : "") 
                               disabled />
                        <label for="ckTense_@Model.TenseList[i].Name">@Model.TenseList[i].Name</label>
                    </div>
                }
            </div>

            <!--Person-->
            <div class="tensePerson">
                <h4>Person</h4>
                @for (int i = 0; i < Model.PersonList.Count; i++)
                {
                    <input type="hidden"
                           name="PersonList[@i].Name"
                           value="@Model.PersonList[i].Name" />
                    
                    <div>
                        <input type="checkbox"
                               class="editable"
                               name="PersonList[@i].Name"
                               value="true"
                               id="ckPerson_@Model.PersonList[i].Name"
                               @(Model.PersonList[i].IsChecked ? "checked" : "") 
                               disabled />
                        <label for="ckPerson_@Model.PersonList[i].Name">@Model.PersonList[i].Name</label>
                    </div>
                }
            </div>
        </div>
    }
</form>

@functions {
}

@section Scripts {
    <script>
        function editMood()
        {
            document.getElementById("btnSave").disabled = false;

            document.querySelectorAll('input[type="checkbox"]').forEach(cb => cb.disabled = false);
		}

        function createMood()
        {
            const language = '@(Model.LanguageName ?? "")';
            const newMood = prompt("Please enter new mood:");
            if (!language || !mood) return;
            const moodInput = document.querySelector('select[name="MoodType"]');
            moodInput.value = newMood;
            enbleEdit();
		}
    </script>
}

