@*
    Update date			Description 
	--------------------------------
    20250316            Initial
*@
@model ResponseModel<ConjugationModel>
@{

    var verbData = Model.Data;  
    var languageName = ViewBag.LanguageName as string;
    var errorCode = Model.ErrorCode;
    var message = Model.Message;
    var moodList = verbData?.MoodList ?? new List<string>();
    var tenseList = verbData?.TenseList ?? new List<string>();
}

<h2>@($"{languageName} Verb")</h2>
<hr />

<form asp-controller="Conjugation"
      asp-action="GetConjugation"
      id="viewForm"
      method="get">
        <input type="hidden" id="hiddenLang" name="languageName" value=@languageName />
        <div>
            <!--Verb input-->
            <div class="inputGroup">
                <label id="labelVerb">Verb</label>
                <input class="verbInput"
                       id="inputVerb"
                       type="text"
                       name="verb"
                       value="@(verbData?.Infinitive ?? "")"
                       placeholder="Please enter a verb." />
            </div>
            <!--Create & Modify-->
            <div class="inputGroup">
                <button type="button"
                        class="btn btn-primary"
                        id="btnCreate">
                    Create
                </button>
                <button type="button"
                        class="btn btn-primary"
                        id="btnModify">
                    Modify
                </button>
            </div>
            <br />
            <!--Mood-->
            <div class="searchConditionGroup">
                <label id="labelMood">Mood</label>
                <select class="cbSet"
                        id="cbMood"
                        name="mood">
                        <option value="" selected="@(string.IsNullOrEmpty(verbData?.Mood) ? "selected" : null)">--Choose a mood--</option>
                        @foreach (var mood in moodList)
					    {
						    <option value="@mood" selected="@(mood == verbData?.Mood ? "selected" : null)">@mood</option>
					    }       
                </select>
            </div>
            <br />
            <!--Tense-->
            <div class="searchConditionGroup">
                <label id="labelTense">Tense</label>
                <select class="cbSet"
                        id="cbTense"
                        name="tense">
                    <option value="" selected="@(string.IsNullOrEmpty(verbData?.Tense) ? "selected" : null)">--Choose a tense--</option>
                    @foreach (var tense in tenseList)
					{
						<option value="@tense" selected="@(tense == verbData?.Tense ? "selected" : null)">@tense</option>
					}
                </select>
            </div>
            <!--Search-->
            <div class="searchConditionGroup">
                <button type="button"
                        class="btn btn-primary"
                        id="btnSearch">
                    Search
                </button>
            </div>
        </div>
</form>

<hr />

<!-- Handle errors and display verb data -->
@if (errorCode == "0000")    //other errors
{
    <div>
        @if (verbData != null && !string.IsNullOrEmpty(verbData.Infinitive) && !string.IsNullOrEmpty(verbData.Mood) && !string.IsNullOrEmpty(verbData.Tense))
        {
            <h3 id="stInfinitive">@verbData.Infinitive</h3>

            <h4 class="chosenMood">@verbData.Mood</h4>
            <table class="table table-bordered conjugationTable">
                <caption class="captionTense">@verbData.Tense</caption>
                <thead>
                    <tr>
                        <th>Person</th>
                        <th>Conjugation</th>
                    </tr>
                </thead>
                <tbody>
                    @if (verbData.Forms != null && verbData.Forms.Any())
                    {
                        @foreach (var form in verbData.Forms)
                        {
                            <tr>
                                <td>@form.Key</td>
                                <td>@form.Value</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        }
        else
        {
            <h3 id="stInfinitive"></h3>
        }
    </div>
    
}
else
{
    <script>
        alert("@message");
    </script>
}

@section Styles {
    <link rel="stylesheet" href="~/css/Conjugation.css" />
}

@section Scripts {
	<script>
        const viewForm = document.getElementById("viewForm");
		const inputVerb = document.getElementById("inputVerb");
        const cbMood = document.getElementById("cbMood");
        const cbTense = document.getElementById("cbTense");
        const btnCreate = document.getElementById("btnCreate");
        const btnModify = document.getElementById("btnModify");
        const btnSearch = document.getElementById("btnSearch");

        const model = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model));

        let verb = model.Data.Infinitive ?? "";
        console.log("Input: " + verb);

        btnModify.disabled = !verb;

        inputVerb.addEventListener("change", async function() {
            const input = encodeURIComponent(this.value.trim());
            const languageName = encodeURIComponent('@Html.Raw(languageName)');
            const response = await fetch(
                `/Conjugation/CheckVerb?languageName=${languageName}&verb=${input}`
            );
            const data = await response.json();
            console.log(data);

            if (data.errorCode === "0001")
            {
                let choice = confirm(`@message Do you want to create it?`);
                if (choice) {
                    const baseUrl = '@Html.Raw(Url.Action("Modify", "Conjugation", new { languageName = languageName }))';
                    const inputVerb = document.getElementById("inputVerb");

                    const verb = inputVerb.value.trim();
                    console.log("input: " + input);

                    location.href = baseUrl + `?mode=create&verb=${encodeURIComponent(input)}`;
                }
                else {
                    location.href = '@Html.Raw(Url.Action("GetConjugation", "Conjugation", new { languageName = languageName }))'
                }
            }
        });

        cbMood.addEventListener("change", function () {
            const selectedMood = this.value;
			const selectedTense = cbTense.value;

            //fetch(`@Url.Action("GetTenseListByMood", "Conjugation", new { mood = "mood" })?mood=${mood}`.replace("mood", mood))
            fetch(`@Html.Raw(Url.Action("GetTenseListByMood", "Conjugation"))?mood=${encodeURIComponent(selectedMood)}`)
                .then(response => response.json())
                .then(data => {
                    cbTense.innerHTML = '<option value="">--Choose a tense--</option>';
                    data.forEach(t => {
                        cbTense.appendChild(new Option(t, t));
                    });
                })
				.catch(error => console.error("Error fetching tenses:", error));
        });

        btnSearch.addEventListener("click", () => {
            const verb = inputVerb.value.trim();
            const mood = cbMood.value;
            const tense = cbTense.value;

			// Validation before submitting the form
            if (!verb) {
                alert("Please enter a verb.");
				return;
            }
            else if (!mood) {
				alert("Please select a mood.");
                return;
            }
			else if (!tense) {
				alert("Please select a tense.");
                return;
            }
            else {
                console.log(`Searching for verb: ${verb}, mood: ${mood}, tense: ${tense}`);
                viewForm.submit();
			}
		});

        btnCreate.addEventListener("click", () => {
        
            location.href = '@Html.Raw(Url.Action("Modify", "Conjugation", new 
            { 
                mode = "create",
                languageName = languageName, 
                verb = ""
            }))';
		});

        btnModify.addEventListener("click", () => {

            location.href = '@Html.Raw(Url.Action("Modify", "Conjugation", new 
            { 
				mode = "modify",
                languageName = languageName, 
                verb = verbData != null ? verbData.Infinitive : "",
                mood = verbData.Mood,
                tense = verbData.Tense
            }))';
        });

    </script>
}